.apresentacao {
  display: grid;
  grid-template-columns: 67% 30%;
  align-items: center;
  justify-content: space-between;
  margin: 32px auto;
  width: 80%;
}

.apresentacao__titulo {
  color: var(--fg_color);
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  margin: 24px 0;
}

.apresentacao__texto {
  color: var(--fg_color);
  font-size: 22px;
  align-self: stretch;
  line-height: 26px;
  margin: 24px 0px;
}

.apresentacao__foto {
  width: 100%;
  height: 24vw;
  border-radius: 50%;
  background-image: url('../assets/lucas-gabriel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.apresentacao__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  margin: 24px 0px;
}

.apresentacao__links__link {
  color: var(--fg_color);
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  gap: 4px;
}

@media (max-width: 768px) {
  .apresentacao {
    width: 90%;
  }

  .apresentacao__titulo {
    font-size: 22px;
    line-height: 26px;
    margin: 8px 0px;
  }

  .apresentacao__texto {
    font-size: 16px;
    line-height: 19px;
    margin: 8px 0px;
  }

  .apresentacao__foto {
    height: 27vw;
  }

  .apresentacao__links__link {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .apresentacao {
    display: flex;
    flex-direction: column-reverse;
    margin: 16px;
  }

  .apresentacao__titulo {
    font-size: 22px;
    line-height: 26px;
    margin: 8px 0px;
  }

  .apresentacao__texto {
    font-size: 14px;
    line-height: 16px;
    margin: 8px 0px;
  }

  .apresentacao__foto {
    width: 98px;
    height: 98px;
    align-self: flex-start;
  }

  .apresentacao__links {
    gap: 0;
    justify-content: space-between;
  }

  .apresentacao__links__link {
    font-size: 14px;
    gap: 0;
  }

  .apresentacao__links__link img {
    width: 16px;
  }
}