* {
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;

	list-style: none;
	text-decoration: none;

	transition: background-color 1s;
}

:root {
	/* Dark theme */
	--bg_dark_1: #272424;
	--bg_dark_2: #282828;
	--fg_dark: #F5F5F5;

	/* Light theme */
	--bg_light_1: #F5F5F5;
	--bg_light_2: #EAF2FD;
	--fg_light: #464646;

	/* Valores iniciais das variáveis utilizadas */
	--bg_color_1: var(--bg_dark_1);
	--bg_color_2: var(--bg_dark_2);
	--fg_color: var(--fg_dark);
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg_color_1);
}