.footer {
  background-color: var(--bg_color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.footer {
  color: var(--fg-color);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}