.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
  width: 80%;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
}

.header__nome {
  color: var(--fg-color);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.header__nome::before {
  content: '👨🏽‍💻';
  margin-right: 5px;
}

.header__nav__link {
  color: var(--fg-color);
  font-size: 16px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header {
    padding: 16px 32px;
    width: calc(100% - 64px);
  }

  .header__nav__link {
    display: none;
  }

  .header__nav {
    gap: 0;
  }

  .header {
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 16px;
    width: calc(100% - 32px);
  }

  .header__nome {
    font-size: 14px;
  }

  .header__nome::before {
    margin-right: 2px;
  }
}