.projetos {
  width: 80%;
  margin: 0 auto 32px;
}

.projetos__titulo {
  color: var(--fg_color);
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  padding: 32px 0px;
}

.projetos__lista {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.projetos__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.projetos__item:nth-child(2n) {
  flex-direction: row-reverse;
}

.projetos__item__imagem {
  width: 65%;
  height: 30vw;
}

.projetos__item__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 16px;
}

.projetos__item__titulo {
  font-size: 22px;
  line-height: 26px;
  color: var(--fg_color);
  align-self: stretch;
  margin: 8px 0px;
}

.projetos__item__subtitulo {
  font-size: 16px;
  line-height: 19px;
  color: var(--fg_color);
  align-self: stretch;
  margin: 8px 0px;
}

.projetos__item__botoes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  margin: 8px 0px;
}

.botao {
  border: 1px solid #2A7AE4;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 26px;
  font-size: 16px;
  line-height: 19px;
}

.botao-link-repo {
  background-color: #FFFFFF;
  color: #2A7AE4;
}

.botao-link-site {
  background-color: #2A7AE4;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .projetos {
    width: 90%;
  }

  .projetos__titulo {
    font-size: 22px;
    line-height: 26px;
  }

  .projetos__item:nth-child(n) {
    flex-direction: column;
  }

  .projetos__item__imagem {
    width: 100%;
    height: 50vw;
  }

  .projetos__item__info {
    align-self: flex-start;
    margin: 0;
  }

  .projetos__item__titulo {
    font-size: 16px;
    line-height: 19px;
  }
  
  .projetos__item__subtitulo {
    font-size: 14px;
    line-height: 16px;
  }
  
  .botao {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 480px) {
  .projetos__titulo {
    font-size: 22px;
    line-height: 26px;
    padding: 32px 0px 16px;
  }
}